html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




* {
  box-sizing: border-box;
  line-height: 0;
}
::selection {
  background: transparent; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: transparent; /* Gecko Browsers */
}
textarea::selection {
  background: #FFFFAA;
}
textarea::-moz-selection {
  background: #FFFFAA;
}
input::selection {
  background: #FFFFAA;
}
input::-moz-selection {
  background: #FFFFAA;
}
textarea:focus, input:focus{
  outline: 0;
}


body{
  background: #666;
  font-family: Verdana, sans-serif;
  font-size: 11px;
}

.app{
  width: 460px;
  margin: 20px auto;
  position: relative;
}

.controls{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  margin-top: 20px;
  .button{
    font-size: 16px;
    background: #ccc;
    display: inline-block;
    padding-top: 16px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    border-top:solid 1px #666;
    position: relative;
    &.first{
      border-top:none;
    }
    &.inactive{
      opacity: 0.5;
    }
    &.anim-pause-button{
      background: #eee;
    }
  }
  .timing{
    padding-top: 9px;
    .underline{
      position: absolute;
      width: 34px;
      height: 1px;
      bottom: 10px;
      left: 8px;
      background: #999;
    }
    input{
      width: 50px;
      border: none;
      background: transparent;
      text-align: center;
      font-size: 26px;
    }
  }
  .shift{
    font-size: 16px;
    > div{
      padding: 2px;
      position: absolute;
      &.up{
        top: 2px;
        left: 15px;
      }
      &.right{
        right: 2px;
        top: 14px;
      }
      &.down{
        left: 15px;
        bottom: 2px;
      }
      &.left{
        top: 14px;
        left: 2px;
      }
    }
  }
}

.frame {
  display: inline-block;
  margin: 20px 20px 0 0;
  .row {
    height: 10px;
    .pixel {
      display: inline-block;
      height: 10px;
      width: 10px;
      border-top: solid 1px #ccc;
      border-left: solid 1px #ccc;
      cursor: pointer;
      &.selected{
        background: #000;
      }
      &:last-of-type{
        border-right: solid 1px #ccc;
      }
    }
    &:last-of-type{
      > .pixel {
        border-bottom: solid 1px #ccc;
      }
    }
  }
  &.current{
    .row:first-of-type {
      > .pixel {
        border-top: solid 1px red;
      }
    }
    .pixel:first-of-type {
      border-left: solid 1px red;
    }
    .pixel:last-of-type{
        border-right: solid 1px red;
    }
    .row:last-of-type{
      > .pixel {
          border-bottom: solid 1px red;
        }
    }
  }
  .fps{
    position: absolute;
    color: #999;
    bottom: -8px;
    right: 2px;
  }
}
.frames{
  .frame{
    position: relative;
    background: #fff;
  }
}

.editor {
  .frame-editor {
    width: 400px;
    background: #fff;
    .row {
      height: 50px;
      .pixel {
        height: 50px;
        width: 50px;
      }
    }
  }
  .normal-frame{
    position: relative;
  }
  .onion-skin{
    position: absolute;
    .pixel{
      &.selected{
        background: #e5e5e5;;
      }
    }
  }
}

.frame-scroll-container{
  height: 135px;
  overflow-y:hidden;
}

.code-overlay{
  position:absolute;
  top: 20px;
  left: 0;
  width: 400px;
  height: 535px;
  background: #fff;
  >div {
    textarea{
      resize: none;
      line-height: 12px;
      width: 100%;
      height: 535px;
    }
  }
}
